<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title> Time Display </title>
	</head>
	<body>
		<div id="header">
			<p> The current date and time is: </p>
		</div>
		<div id="time">
			<h2> <%= @currentDate %> </h2>
			<h2> <%= @currentTime %> </h2>
		</div>
	</body>
</html>
